<mat-card class="p-1 shadow-lg h-56 md:h-60 overflow-auto">
  <div class="flex py-4">
    
    <!--Book Image-->
    <div class="px-2 w-1/2">
      <img
        class="object-cover h-48 w-full rounded"
        mat-card-image
        [src]="book.imageLink"
        alt="Book Cover"
      />
    </div>

    <div class="px-2 w-1/2 flex flex-col">
      <span class="text-lg font-semibold leading-7 text-gray-900 mb-1">
        <p class="md:truncate">{{ book.title }}</p>
      </span>

    <!--Ratings,likes etc-->
      <div class="flex items-center mt-1">
        <mat-icon>star</mat-icon>
        <span class="text-xs text-gray-700 pb-2">{{ book.rating }}</span>
        <span class="mx-2"></span>
        <mat-icon>thumb_up</mat-icon>
        <span class="text-xs text-gray-700 pb-2">{{ book.likes }}</span>
        <span class="mx-2"></span>
        <mat-icon>thumb_down</mat-icon>
        <span class="text-xs text-gray-700 pb-2">{{ book.dislikes }}</span>
      </div>


     <!--Summary-->
      <div class="mt-1">
        <span class="italic text-xs">
          It has survived not only five centuries, but also the leap into
          ..</span
        >
      </div>

      <div class="pt-5 bottom-0 right-1">
        <p class="hover:font-bold text-blue-600">Read more..</p>
      </div>
    </div>
  </div>
</mat-card>
